<div class="abstract-bg">

    <div class="abstract-row"> <%# row 1 %>
      <div class="abstract-col"></div> <%# col 1 %>
      <div class="abstract-col"><div class="circle black"></div></div> <%# col 2 %>
      <div class="abstract-col"></div> <%# col 3 %>
      <div class="abstract-col"></div> <%# col 4 %>
      <div class="abstract-col"></div> <%# col 5 %>
      <div class="abstract-col"><div class="circle quarter top-right orange"></div></div> <%# col 6 %>
    </div>

    <div class="abstract-row"> <%# row 2 %>
      <div class="abstract-col"></div> <%# col 1 %>
      <div class="abstract-col"></div> <%# col 2 %>
      <div class="abstract-col"><div class="circle quarter top-right turquoise"></div></div> <%# col 3 %>
      <div class="abstract-col"></div> <%# col 4 %>
      <div class="abstract-col"><div class="circle black"></div></div> <%# col 5 %>
      <div class="abstract-col"><div class="circle turquoise"></div></div> <%# col 6 %>
    </div>
    
    <div class="abstract-row"> <%# row 3 %>
      <div class="abstract-col"><div class="circle orange"></div></div> <%# col 1 %>
      <div class="abstract-col"><div class="circle quarter bottom-left green"></div></div> <%# col 2 %>
      <div class="abstract-col"></div> <%# col 3 %>
      <div class="abstract-col"></div> <%# col 4 %>
      <div class="abstract-col"></div> <%# col 5 %>
      <div class="abstract-col"></div> <%# col 6 %>
    </div>

    <div class="abstract-row"> <%# row 4 %>
      <div class="abstract-col"></div> <%# col 1 %>
      <div class="abstract-col"><div class="circle quarter top-left yellow"></div></div> <%# col 2 %>
      <div class="abstract-col"><div class="circle quarter top-right orange"></div></div> <%# col 3 %>
      <div class="abstract-col"></div> <%# col 4 %>
      <div class="abstract-col"></div> <%# col 5 %>
      <div class="abstract-col"></div> <%# col 6 %>
    </div>
  </div>