<% content_for :title, "- update #{@list.name}" %>

<div class="row justify-content-between">

  <div class="col">
    <%= link_to list_path(@list), class: "btn btn-outline-dark" do %>
      <i class="fa-solid fa-chevron-left"></i>
      Back to List
    <% end %>
  </div>

  <div class="col text-end" data-controller="sweet-alert">
    <% if policy(@list).destroy? %>
      <button type="button" class="btn btn-outline-warning" data-action="click->sweet-alert#displayDeleteAlert">
        <i class="fa-solid fa-trash-can"></i>
        Delete List
      </button>
      <%= link_to "", list_path(@list), data: {turbo_method: :delete, sweet_alert_target: "link"}, class: "hidden" %>
    <% else %>
      <button type="button" class="btn btn-outline-secondary" disabled>
        <i class="fa-solid fa-trash-can"></i>
        Delete List
      </button>
      <p class="m-0">It's not possible to delete this List.</p>
      <p class="m-0">Only the user who created the List, can delete it.</p>
    <% end %>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-5">

    <h2>Update <%= @list_name %></h2>

    <%= render partial: "lists/list_form", locals: { list: @list } %>  

  </div>
</div>



