.list-card {
  overflow: hidden;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px;
  padding: 0;
}

.list-card a {
  text-decoration: none;
}

.card-image {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image p {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

.list-card .status {
  text-align: center;
}

.list-card .status p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 0;
}


.list-card .card-infos {
  padding: 16px;
}

.list-card .users .btn, .list-card .add-item .btn {
  display: inline-flex;
  align-items: center;
  i {
    margin-right: 5px;
    font-size: 28px;
  }
}
