.list-card .new-invitation, .list-card .new-item, .list-container .new-invitation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .fields-container {
    width: 90%;
    padding: 36px;
    background-color: white;
    border-radius: 5px;
  }

  .fields-container p {
    text-align: center;
    font-weight: bold;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  @media (min-width:768px){
    .fields-container {
      width: 50%;
    }
  }
  @media (min-width:992px){
    .fields-container {
      width: 35%;
    }
  }
}

.list-form, .account-form, .sign-up-form, .log-in-form, .forgot-password-form, .change-password-form {
  background-color: #ffffff;
  padding: 40px 30px;
  border: 1px solid $turquoise;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 50px;

  @media (min-width:992px){
    padding: 50px 60px;
  }
}

.current-img {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 0 0 0 0;
  }

  .img.current-img {
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 65px;
    border-radius: 5px;
    margin-left: 10px;
  }
}