.navbar-lewagon {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 900;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 175px;
}

.navbar-brand:focus-visible {
  outline: none;
  border-bottom: 2px solid black;
}

.navbar-btn:hover, .navbar-btn:focus-visible {
  outline: 2px solid black;
  box-shadow: none;
}

.navbar-brand h1 {
  margin: 0px;
  font-size: 16px;
}

.logo-tag {
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(100%) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
