.navbar-lewagon {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 900;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 175px;
}

.navbar-brand:focus-visible {
  outline: none;
  border-bottom: 2px solid black;
}

.navbar-btn:hover, .navbar-btn:focus-visible {
  outline: 2px solid black;
  box-shadow: none;
}
