.user-card {
  display: flex;
  align-items: center;
  margin: 30px 0px;
}

.user-card .info {
  padding: 0px 10px;
}

.user-card .info p {
  margin: 0;
}

.user-card .info .detail {
  font-size: 14px;
  font-style: italic;
}