<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <style>
      a {
        text-decoration: none;
        border: 1px solid #15c;
        padding: 5px 15px;
        border-radius: 5px;
      }
    </style>
  </head>

  <body>

    <p>Hello <%= @resource.first_name %>!</p>

    <p>Someone has requested a link to change your password. You can do this through the link below.</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>

  </body>
</html>
